{:terminal {
   :telnet {
     :port 1123}
   :telnet-ssl {
     :port 1122
     :key-gen {
       :fqdn "mush.hexagram30.cnbb.games"
       :pkey-bits 4096}}
   :initialization {
     :max-frame-length 8192}
   :connection {
     :threads 1
     :worker {
       :threads 2}}}
 :logging {
   :level :debug
   :nss [io.netty hxgm30]}}
